name: Docker Build and Push CI

on:
  pull_request:
    branches: ['master']
    paths: 
      - '**.py'
      - 'Dockerfile'
  push:
    branches: ['master']
    paths: 
      - '**.py'
      - 'Dockerfile'
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: nicklucche
          password: ${{ secrets.DOCKERHUB_PASS }}
      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: nicklucche/stable-diffusion:v2

